/* importing fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

/* Create varible for a background colour & box-shadow */
:root {
    --background: rgba(80, 160, 96, 0.9);
    --backgroud2: rgba(55, 110, 66, 0.95);
    --boxshadow: rgba(0, 0, 0, 1) 0px 22px 70px 4px;
}

/* this is a universal indicator to add a border box on the hamburger menu when check on/off - before/after */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Style the body */
body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    font-family: 'Maven Pro', Verdana, sans-serif;
    font-weight: 400;
    background-image: url('../images/110.png');
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style for header */
header {
    background: var(--background);
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Style the logo within the header */
.logo {
    color: #000;
    margin-left: 3em;
    text-decoration: none;

}

/* Style for the checkbox used in nav bar to display the hamburger menu */
.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

/*  */
.nav-toggle:focus~.nav-toggle-label {
    outline: 3px solid rgba(255, 255, 255, .75);
}

/* Styling/positioning the label used for the hamburger menu */
.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

/* Styling used to dispaly 3 lines of the hamburger menu */
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

/*  creates the 1st lines in the hamburger menu and positions them */
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

/*  creates the 2nd lines in the hamburger menu */
.nav-toggle-label span::before {
    bottom: 7px;
}

/*  creates the 3rd lines in the hamburger menu */
.nav-toggle-label span::after {
    top: 7px;
}

/* stlyes the nav bar for both hamburger menu and regular nav bar, the transforms are for the hamburger menu */
nav {
    position: absolute;
    text-align: right;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

/* Style of the unordered list of the nav bar */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* style for the list items in the nav bar */
nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

/* style for the anchor tags in the nav bar and hamburger menu */
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

/* when the end user hovers the cursor over an achor tag in the nav bar the colour will change */
nav a:hover {
    color: #000;
}

/* this is used to scale the hamburger menu when it is clicked */
.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

/* this targets the anchor tag in the nav when it is checked and helps with the transition when viewing the hamgurger menu */
.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.heading {
    border-radius: 15px;
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: var(--boxshadow);
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5rem;
    width: 40%;
    font-size: 1.5rem;

}

.none {
    display: none;
}

/* Style for main container on index.html */
.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10em !important;
    margin-bottom: 10em !important;
    flex-wrap: wrap;
}

/* Syle the cards within the container on index.html */
.item {
    background: var(--backgroud2);
    border-radius: 15px;
    border-style: solid;
    color: white;
    margin: 0.5em;
    max-width: 45rem;
    min-height: 25rem;
    line-height: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: var(--boxshadow);
}

/* Puts content in row formation as the rest is added with columns */
.rows {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5em;
}

/* Style all the paragraphs */
p {
    padding: 2em;
    color: white;
}

/* Style on the images */
img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: var(--boxshadow);
}

/* Style the text section within the cards on index.html */
.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style the h3 in the cards on index.html */
.item h3 a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: pointer;

}

/* Style the anchor tags on hover over on index.html */
.item a:hover {
    color: #000;
    padding-bottom: 0.1rem;
    border-bottom-style: solid;
    width: fit-content;
}

/* Stle the 'contact us' button within the cards on  index.html */
.section-contact {
    text-decoration: none;
    color: white;
}

/* Style the main container on classes.html */
.row-container {
    margin-top: 10em !important;
    margin-bottom: 10em !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Style the cols on on classes.html */
.row-item {
    margin: 0.5em;
    min-height: 25rem;
    min-width: 30rem;
    font-size: 2rem;
    flex: 1 1 30%;
    background: var(--backgroud2);
    border-radius: 15px;
    border-style: solid;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxshadow);
    flex-wrap: wrap;
}

/* Styles the container on the teachers.html page */
.teach-container {
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10em !important;
    margin-bottom: 10em !important;
    flex-wrap: wrap;
}

/* Style the cards on the teachers.html page */
.teach-item {
    margin-top: 5em !important;
    background: var(--backgroud2);
    border-radius: 15px;
    border-style: solid;
    width: 100rem;
    line-height: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: var(--boxshadow);
    color: white;
    margin: 0.5em;
    min-height: 25rem;
}

/* Styles the image sections of the containers so it is responive */
.image-section {
    display: flex;
}

/* Style the container on the contact.html page */
.form-container {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10em !important;
    margin-bottom: 10em !important;
}

/* Styles the items within the container on the contact.html page */
.form-item {
    box-shadow: var(--boxshadow);
    position: relative;
    border-radius: 15px;
    border: 3px solid #000000;
}

.form-item .from-map {
    display: none;
}

/* styles the iframe on the contact.html page */
iframe {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border-style: 2px solid #000000;
    ;
}

/* Styles the form on the contact.html page */
form {
    display: grid;
    padding: 1em;
    background: #f9f9f9;
    max-width: 600px;
    padding: 1em;
    border-radius: 15px;
}

/* stles the input sectiosn on the from on the contact.html page */
form input {
    background: #fff;
    border: 1px solid #9c9c9c;
}

/* styles the sumbit button on the form on the contact.html page */
.btn {
    margin-top: 1rem;
    background: lightgrey;
    padding: 0.7em;
    width: 100%;
    border: 0;
}

/* stlye the hover action of the submit button on the form on the contact.html page */
.btn:hover {
    background: #77ED8E;
    cursor: pointer;
}

/* stlye all labels on the form on the contact.html page */
label {
    padding: 0.5em 0.5em 0.5em 0;
}

/* stlye all inputs on the form on the contact.html page */
input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
}

/* stlye the input when it is clicked on, on the form on the contact.html page */
input:focus {
    outline: 3px solid #77ED8E;
}

/* stlye the textarea on the form on the contact.html page */
textarea {
    margin-top: 1rem;
    resize: none;
}

/* Style the footer on every page */
footer {
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #000;
    color: white;
    width: 100%;
    padding-bottom: 1rem;
}

/* style the anchor tag within a list item on the footer of every page */
footer li a {
    color: white;
    text-decoration: none;
}

/* removes style for an achor tage in a list item on the footerr of every page */
footer li a:visited {
    text-decoration: none
}

/* styles the hover action on an anchor tag of a list item on the footer of every page */
footer li a:hover {
    color: white;
    padding-bottom: 0.1rem;
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    width: fit-content;
}

/* Style the list items */
li {
    list-style-type: none;
    line-height: 2;
    color: white;
    cursor: pointer;
    padding-right: 2rem;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer p {
    padding: 2em 0 !important;
}

/* Media query for the tablet */
@media only screen and (max-width: 1200px) {

    .heading {
        font-size: 1rem;
    }

    .row-item {
        width: 15rem;
        margin: 1rem;
    }

    .form-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 5rem;
    }

    footer {
        font-size: 15px;
        line-height: 2;
        justify-content: center;
        align-items: center;
    }
}

/* Media query for the teacher cards to view on mobile */
@media only screen and (max-width: 800px) {

    .heading {
        font-size: 1rem;
    }

    .row-item {
        min-width: 15rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .row-item h3 {
        font-size: 22px;
    }

    .row-item li {
        font-size: 18px;
        line-height: 3;
    }

    .teach-item {
        display: unset;
    }

    .form-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 10em;
    }

    .logo {
        font-size: 10px;
    }

    footer {
        font-size: 12px;
        padding-left: 0.5rem;
    }

    footer li {
        line-height: 3;
    }

}

/* media query for small phones, such as the galaxy fold */
@media only screen and (max-width: 500px) {

    .row-item h3 {
        font-size: 18px;
    }

    .row-item li {
        font-size: 12px;
    }

    footer {
        font-size: 9px;
        padding-left: 0.5rem;
    }

}

/* Media query for responsive nav bar */
@media screen and (min-width: 800px) {

    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;

    }

    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}