@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

/* Create varible for a background colour & box-shadow */
:root {
    --background: rgba(80, 160, 96, 1);
    --boxshadow: rgba(0, 0, 0, 1) 0px 22px 70px 4px;
}

/*  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Style the body */
body {
    display: flex;
    margin: 0;
    font-family: 'Maven Pro', Verdana, sans-serif;
    font-weight: 400;
    background-image: url('../images/110.jpg');
    background-position: right;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Style the logo within the header */
.logo {
    float: left;
    color: #000;
    margin-left: 3em;
    text-decoration: none;

}

/* Style for nav bar */
.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus~.nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* Style for header */
header {
    background: var(--background);
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for main container */
.container {
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10em !important;
    flex-wrap: wrap;
}

/* Style the h2 in the contanier */
h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #000;
}

.part-one {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* Syle the cards within the container */
.item {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    margin: 0.5em;
    max-width: 45rem;
    min-height: 25rem;
    line-height: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: var(--boxshadow);
}

/* Style the cards on the teacher page */
.item-teach {
    background: black;
    color: white;
    margin: 0.5em;
    width: 100rem;
    line-height: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: var(--boxshadow);
}

/* Style the text section within the cards */
.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style the images */
img {
    width: 100%;
}

/* Style the image sections within the cards */
.image-section {
    width: 100%;
}

/* Stle the 'contact us' button within the cards on the index page */
.section-contact {
    text-decoration: none;
    color: white;
}

/* Style the h3 in the cards */
.item h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Style the paragraphs within the cards */
p {
    padding: 2em;
    color: white;
}

/* Style the row container on the classes page */
.row-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

/* Style the h2 on classes page */
.row-container h2 {
    flex: 1 1 100%;
    text-align: center;
    justify-content: center;
    color: #000;
}

/* Style the rows & cols on classes page */
.row-container>.row-item {
    /*grow | shrink | basis */
    flex: 1 1 30%;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    margin: 0.5em;
    min-width: 30rem;
    min-height: 25rem;
}

/* Style the rows on classes page */
.row-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--boxshadow);
}

/* Style the footer */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #000;
    color: white;
    width: 100%;

}

footer li a {
    color: white;
    text-decoration: none;
}

#footer li a:visited {
    text-decoration: none
}

#footer li a:hover {
    color: white;
    text-decoration: underline
}

/* Style the lists */
li {
    list-style-type: none;
    line-height: 2;
    color: white;
}

.form-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;


}

.form-item {
    box-shadow: var(--boxshadow);
    border-style: solid;
}

form {
    display: grid;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    max-width: 600px;
    padding: 1em;
}

form input {
    background: #fff;
    border: 1px solid #9c9c9c;
}

form button {
    background: lightgrey;
    padding: 0.7em;
    width: 100%;
    border: 0;
}

form button:hover {
    background: #77ED8E;
}

label {
    padding: 0.5em 0.5em 0.5em 0;
}

input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
}

input:focus {
    outline: 3px solid 77ED8E;
}

textarea {
    padding: 1rem;
    padding-top: 1rem;
}

/* Media query for responsive design on mobile/tablet */
@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        font-weight: 50;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}